<div class="container mt-4">
  <div class="card-deck m-auto">
    <% @photo_equipments.each do |pe| %>
      <div class="card">
        <img class="card-img-top" <%= image_tag (pe.photo_path) %>
        <div class="card-body">
          <h5 class="card-title"><%= pe.name %></h5>
          <p class="card-text"><%= pe.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
