<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lighting Equipment</h5>
        <p class="card-text"> Button below links to lights</p>
        <a href="#" class="btn btn-primary">See all lights</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Background Paper</h5>
        <p class="card-text">There is space here for description. Button below populates the background paper field in new booking.</p>
        <a href="#" class="btn btn-primary">Add</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Other Equipment</h5>
        <p class="card-text"> Button below links to other</p>
        <a href="#" class="btn btn-primary">See all other</a>
      </div>
    </div>
  </div>
</div>
