<div class="container mt-4">
  <div class="card-deck">
    <% @studios.each do |s| %>
      <div class="card">
        <img class="card-img-top" src="<%= s.photo_path %>" alt="studios">
        <div class="card-body">
          <h5 class="card-title"><%= link_to s.name, s %></h5>
          <p class="card-text"><%= s.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
