<div class="container mt-4">
  <div class="card-deck m-auto">
    <% @studios.each do |s| %>
      <div class="card" >
        <a href="<%= studio_path(s) %>" ><img class="card-img-top" <%= image_tag(s.photo_path) %></a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to s.name, s %></h5>
          <p class="card-text"><%= s.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
