<div class="container">
  <div class="card-deck mt-5">
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Alan Robertson</h5>
        <p class="card-text"> Button below links to lights</p>
        <a href="#" class="btn btn-danger">Contact</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Justin Barton</h5>
        <p class="card-text">There is space here for description. Button below populates the background paper field in new booking.</p>
        <a href="#" class="btn btn-danger">Contact</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Harry Isaacs</h5>
        <p class="card-text"> Button below links to other</p>
        <a href="#" class="btn btn-danger">Contact</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">John Withfield</h5>
        <p class="card-text"> Button below links to other</p>
        <a href="#" class="btn btn-danger">Contact</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Joaquim Barreto</h5>
        <p class="card-text"> Button below links to other</p>
        <a href="#" class="btn btn-danger">Contact</a>
      </div>
    </div>
  </div>
</div>
