<div class="container mt-4">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" <%= image_tag (@room.photo_path2) %>
      <div class="card-body">
          <h5 class="card-title"><%= @room.name %></h5>
          <p class="card-text"><%= @room.description %></p>
        <a href="new_booking_path" class="btn btn-danger">Book</a>
      </div>
    </div>
  </div>
</div>
