<div class="container mt-4">
  <div class="card-deck">
    <div class="card m-auto">
      <img class="card-img-top" <%= image_tag (@room.photo_path2) %>
      <div class="card-body">
          <h5 class="card-title"><%= @room.name %></h5>
          <p class="card-text"><%= @room.description %></p>
        <%= link_to "Book", "#{@room.id}/bookings/new", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
