<% @studios.each do |s| %>
<div class="studio">
  <%= link_to s.name, s %>
</div>
<% end %>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Photographic Studio</h5>
        <p class="card-text">There is space here for description, do we need a studio_room/inedx page?. Button below populates the room field in new booking</p>
        <a href="#" class="btn btn-primary">Book Studio</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Darkroom</h5>
        <p class="card-text">There is space here for description, do we need a studio_room/inedx page?. Button below populates the room field in new booking.</p>
        <a href="#" class="btn btn-primary">Book Darkroom</a>
      </div>
    </div>
  </div>
</div>
