<div class="container mt-4">
  <h1><%= @studio.name %></h1>
  <div class="card-deck">
    <% @rooms.each do |r| %>
    <div class="card">
      <img class="card-img-top" src="<%= image_tag(r.photo_path) %>" alt="studios">
      <div class="card-body">
          <h5 class="card-title"><%= link_to r.name, studio_room_path(@studio, r) %></h5>
          <p class="card-text"><%= r.description %>
            <% if @studio.wi_fi %>Wi-Fi Available.
        <% end %>
        <% if @studio.parking %>
          Free parking!
        <% end %></p>
        <a href="new_booking_path" class="btn btn-danger">Book</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
