<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Studio Darkroom Workshop</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/studios/1">2 Iliffe Yard Studio</a>
            <a class="dropdown-item" href="/studios/2">Pullens Yards</a>
          </div>
        </li>
      </ul>

        <% if logged_in? %>
          <form action="<%=logout_path%>" method="post">
            <%= render 'layouts/navigation/logout' %>
          </form>
        <% else %>
          <form action="<%=sessions_path%>" method="post">
            <%= render 'layouts/navigation/login' %>
          </form>
        <% end %>
        
    </div>
  </nav>
</div>
