<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Studio Darkroom Workshop</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/1">2 Iliffe Yard</a>
            <a class="dropdown-item" href="/2">Pullens Yards</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-0 my-lg-0">
        <div class="container">
        	<div class="row">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
              Login
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" action='' name="login_form">
                      <p><input type="text" class="span3" name="eid" id="email" placeholder="Username"></p>
                      <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                      <p><button type="submit" class="btn btn-danger">Enter</button></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        	</div>
        </div>
      </form>
    </div>
  </nav>
</div>
