<div class="container">
  <div class="row">
    <p>Welcome <%= link_to current_photographer.username, current_photographer %> </p>
    <button class="btn btn-danger" type=<%= link_to "Logout", logout_path, method: "post" %>
        </button>
  </div>
</div>
