<div class="container">
  <div class="row">
    <p>Welcome <%= link_to current_photographer.username, current_photographer %> </p>
    <%= button_to "Logout", logout_path, method: "post", class: "btn btn-danger" %>
  </div>
</div>
